# VS Code
.vscode/settings.json

# OSX
#
.DS_Store

# Sourcemaps
ios-sourcemap.json
ios-sourcemap.zip
android-sourcemap.json
android-sourcemap.zip

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
android/app/src/main/assets/index.android.bundle
output-metadata.json

info

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
ios/*.app.dSYM.zip

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

*.apk
*google-services*.json
*GoogleService*
storybook/index.android.js
storybook/index.ios.js
storybook/stories
.env
ideas.txt
coverage
test-report.xml

test-results
org.eclipse.jdt.core.prefs

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
# testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
