<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>co.pumpables.super-genie.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ppbl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1999375210285390</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle Id</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>co.pumpables.super-genie.ios</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.Branch.Branchsters</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>branchsters</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>1999375210285390</string>
	<key>FacebookDisplayName</key>
	<string>Pumpables</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>facebook</string>
		<string>facebook-stories</string>
		<string>pagesmanager</string>
		<string>twitter</string>
		<string>whatsapp</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>googleplus</string>
		<string>email</string>
		<string>pinterest</string>
		<string>linkedin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>The app requires Bluetooth access to connect to the pump device and control pumping</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The app requires Bluetooth access to connect to the pump device and control pumping</string>
	<key>NSCameraUsageDescription</key>
	<string>The app requires Camera access to be able to take photo and update the profile avatar</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>For a better user experience while playing programs in the background</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>For a better user experience while playing programs in the background</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>For a better user experience while playing programs in the background</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>use microphone</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The app requires Gallery access to be able to choose image and update the profile avatar</string>
	<key>UIAppFonts</key>
	<array>
		<string>NunitoSans-Regular.ttf</string>
		<string>NunitoSans-SemiBold.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>NunitoSans-Light.ttf</string>
		<string>NunitoSans-Bold.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Graphik-Black.ttf</string>
		<string>Graphik-Bold.ttf</string>
		<string>Graphik-Light.ttf</string>
		<string>Graphik-Medium.ttf</string>
		<string>Graphik-Regular.ttf</string>
		<string>Graphik-Semibold.ttf</string>
		<string>Graphik-Thin.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Thin.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_iyhTJSrJigSkSq7usz4UIamftqmYuzKC</string>
	</dict>
	<key>branch_universal_link_domains</key>
	<array>
		<string>pumpables.app.link</string>
		<string>pumpables-alternate.app.link</string>
	</array>
	<key>bugsnag</key>
	<dict>
		<key>apiKey</key>
		<string>9a1cc94675bbba1a4eb0c66be520a22b</string>
	</dict>
</dict>
</plist>
